.container__small-card {
    border-bottom: solid gray 3px;
    display: flex;
    flex-direction: row;
}

.small-card__photo {
    padding: 10px;
    width: 60%;
}

.small-card__photo > img {
    width: 100%;
    min-width: 90%;
}

.small-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
}